@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

:root {
    --primary: #f58c31; 
    --secondary: #c4214c;
    --third: #c61b6a;
    --text:  antiquewhite;
    --max-widht: 1200px;

}


.header {
    background: linear-gradient( var(--primary), black);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
}

.logo {
    width: 70px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.navbar img {
    width: 40px;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
    cursor: pointer;
}


.links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 0 30px;
}

.link-list a {
    color: antiquewhite;
    font-size: 16px;
    font-weight: 600;
}

/* carrito */
.carrito {
    color: var(--text);
    font-size: 18px;
    cursor: pointer;
}
/* Titulo, Section inicio */

body {
    background-color: black;
    
} 

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: var(--text);
    max-width: var(--max-widht);

}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
    max-width: 1200px;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 40px;
    padding: 30px;
    margin: 40px;
}

.info-titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.info-titulo h1 {
        background-image: linear-gradient(var(--primary), var(--secondary));
        color: transparent;
        background-clip: text;
        font-size: 40px;
        font-weight: 800;
}

.info-titulo p {
    font-size: 18px;
    font-weight: 600;
    padding: 20px;
    background-image: linear-gradient(var(--primary), var(--secondary));
    color: transparent;
    background-clip: text;
}

.info-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: var(--primary);
}

.info-img img {
    padding: 20px;
    margin: 20px;
    width: 400px;
}

.info-img p {
    font-size: 18px;
    font-weight: 800;
}

.info-img ul li{
    padding: 2px 80px;
}


/* Section Menu, Dias de semana  */

#Semana {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 10px;
}

#Semana h2 {
    font-size: 20px;
    font-weight: 600;
    padding: 0 10px;
    color: transparent;
    background-image: linear-gradient(var(--primary),var(--secondary));
    background-clip: text;
}


.dias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color:var(--primary);
}

.dias-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: transparent;
    background-image: linear-gradient(var(--secondary),var(--third));
    background-clip: text;
    font-size: 18px;
}
.dias-info button{
    color: var(--secondary);
    background-color: black;
    border-radius: 10px;
    padding: 0 10px;
    margin: 10px;
}

.dias-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.dias-menu ul li {
    padding: 2px 20px;
}

.dias-menu img{
    width: 150px;
}


/* Section Promociones */

#promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

h2{
    font-size: 32px;
    font-weight: 700;
    padding: 30px;
}

.promo-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 70px;
    color: transparent;
    background-image: linear-gradient(var(--secondary), var(--primary));
    background-clip: text;
}

.promo-menu{
    display: flex;
    flex-direction:column;
    gap: 100px;
    color: transparent;
    background-image: radial-gradient(var(--secondary),var(--third));
    background-clip: text;
}
.promo-img {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
/* Footer contactos */

footer {
    color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    gap: 40px;
    padding: 70px 0;
}
footer p,
footer a {
color: var(--primary);
font-weight: 300;
font-size: 14px;
}

.footer-links{
    display: flex;
    gap: 50px;

}

footer span{
    font-weight: 800;
}

#menu-toggle,
#cart-toggle,
.menu-label {
    display: none;
}

/* carrito */
.cart {
    position: absolute;
    background:linear-gradient(to top, black, var(--primary)) ;
    padding: 20px;;;
    top: 65px;
    right: 0;
    height: calc(100vh - 65px);
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-y: scroll;
    display: none;
}
.cart::-webkit-scrollbar {
    display: none;
}

.cart h2 {
    font-size: 20px;
    font-weight: 800;
}
/* item carrito */

.cart-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid var(--third);
    padding: 20px;
    border-radius: 10px;
    

}

.cart-item  img {
    height: 65px;
    width: 65px;
}

.items-info {
    display: flex;
    flex-direction: column;
}

.item-title {
    font-size: 14px;
}

.item-bid {
    font-size: 12px;
}

.item-precio {
    background: linear-gradient(to right, var(--secondary), var(--third));
    background-clip: text;
    color: transparent;
    font-size: 16px;
    font-weight: 800;
}


.item-handler{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.quantity-handler {
    display: flex;
    justify-content: center;
    padding: 2px 10px;
    border-radius: 5px;
}

    .up {
        border: 1px solid var(--secondary);
    }

    .down {
        background-color: var(--primary);
        border: 1px solid var(--third);
    }

    .divider {
        border: .5px solid var(--third);
    }
    
    .cart-total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--text);
    }
    .cart-total p,
    .cart-total span{
        font-size: 20px;
        font-weight: 600;
    }

    .btn-add {
        background-color: blue;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;

    }

    #cart-toggle:checked + .cart{
        display: flex;
    }